<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/inicio"></ion-back-button>
        </ion-buttons>
        <ion-title>Objetivo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <br>

            <ion-text align="justify">
                El objetivo principal de este juego es que la gente aprenda más sobre los aspectos generales de nuestro país mietras se divierte con un grupo de familia y/o amigos.

            </ion-text>
            <br>
            <p>
                Contamos con 4 categorías en las que cada equipo tiene que desenvolverse correctamente para ganar
            </p>
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col>

                <br>
                <ion-avatar>
                    <img src="/assets/imagenes/piquero4.png">
                </ion-avatar>

            </ion-col>
            <ion-col>
                <br>
                <ion-avatar>
                    <img src="/assets/imagenes/foca3.png">
                </ion-avatar>
            </ion-col>


            <ion-col class>

                <br>
                <ion-avatar>
                    <img src="/assets/imagenes/delfinR2.png">
                </ion-avatar>

            </ion-col>
            <ion-col>

                <br>
                <ion-avatar>
                    <img src="/assets/imagenes/gayo.png">
                </ion-avatar>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>