<ion-header>
    <ion-toolbar color="primary">
            <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                  </ion-buttons>
        <ion-title align="center">
            BIENVENIDO
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="background">
    <ion-grid>
        <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <ion-button color="primary" href="/registro" large>
                    EMPEZAR PARTIDA!!
                </ion-button>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <ion-grid>
        <ion-row>
            <ion-col class="pikero">
                <ion-text>PIKERO</ion-text>
                <br>
                <ion-avatar>
                    <img src="/assets/imagenes/piquero4.png">
                </ion-avatar>

            </ion-col>
            <ion-col class="foca">
                <ion-text>FOCA</ion-text>
                <br>
                <ion-avatar>
                    <img src="/assets/imagenes/foca1.png">
                </ion-avatar>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="delfin">
                <ion-text>DELFIN</ion-text>
                <br>
                <ion-avatar>
                    <img src="/assets/imagenes/piquero4.png">
                </ion-avatar>

            </ion-col>
            <ion-col class="gayo">
                <ion-text>PAPAGAYO</ion-text>
                <br>
                <ion-avatar>
                    <img src="/assets/imagenes/piquero4.png">
                </ion-avatar>
            </ion-col>
        </ion-row>
    </ion-grid> -->

</ion-content>